[package]
name = "challonge"
version = "0.4.0"
authors = ["Victor Polevoy <maintainer@vpolevoy.com>"]

description = "Client library for the Challonge REST API"
readme = "README.md"
license = "MIT"
keywords = ["game", "challonge", "tourney", "tournament", "api", "system"]

repository = "https://github.com/vityafx/challonge-rs"
documentation = "https://vityafx.github.io/challonge-rs/0.4.0/challonge/"

[dependencies]
hyper = "0.9.7"
serde_json = "0.7.4"
chrono = "0.2"
log = "0.3.6"
